PORT=3000

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

FRONTEND_URL=http://localhost:5173

MONGO_DB_NAME=krvyu
MONGO_URI=
MONGO_USER=
MONGO_PASSWORD=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

LEMON_SQUEEZY_API_KEY=
LEMON_SQUEEZY_WEBHOOK_SECRET=
LEMON_SQUEEZY_STORE_ID=
LEMON_SQUEEZY_STORE_SUBDOMAIN=
LEMON_SQUEEZY_VARIANT_ID_DEV_PLAN=
LEMON_SQUEEZY_VARIANT_ID_ENTERPRISE_PLAN=

ENCRYPTION_KEY=

LLM_PROVIDER=google
LLM_MODEL=google/gemini-flash-latest
LLM_API_KEY=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
